# Python compilado
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais
.venv/
venv/
env/

# Banco de Dados Local
*.sqlite3

# Arquivos de Configuração Sensíveis
.env

# Media e Static coletados
/media/
/staticfiles/