amqp==5.3.1
asgiref==3.10.0
billiard==4.2.3
celery==5.5.3
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudscraper==1.2.71
defusedxml==0.7.1
django==5.2.7
django-ratelimit==4.1.0
django-redis==7.0.0
django-svg-image-form-field==1.0.1
djangorestframework==3.18.0
idna==3.11
iniconfig==2.3.0
kombu==5.5.4
mysqlclient==2.2.8
packaging==25.0
pillow==12.0.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.2.2
pygments==2.20.0
pyparsing==3.3.2
pytest==9.1.1
pytest-django==4.14.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==7.1.0
redislite==6.2.912183
requests==2.32.5
requests-toolbelt==1.0.0
setuptools==84.0.0
six==1.17.0
sqlparse==0.5.3
stripe==14.3.0
typing-extensions==4.16.0
tzdata==2025.2
urllib3==2.6.3
vine==5.1.0
wcwidth==0.2.14
