{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Clientes{% endblock %}
{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header card-header-light">
        <h3 class="card-title d-flex align-items-center gap-2">
            <a href="{% url 'home' %}"
                class="btn btn-animate-icon btn-animate-icon-move-start"><!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-1">
                    <path d="M15 6l-6 6l6 6"></path>
                </svg>
                Voltar
            </a>
            Lista de Clientes
        </h3>
    </div>
    <div class="table-responsive">
        <table class="card-body table table-hover">
            <thead>
                <tr class="table-dark align-middle text-center">
                    <th scope="col">Nome</th>
                    <th class="d-none d-md-table-cell" scope="col">E-mail</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Número de Compras</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr class="align-middle text-center">
                    <th scope="row">{{ cliente.usuario.first_name }}</th>
                    <td class="d-none d-md-table-cell">{{ cliente.usuario.email }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.obter_quantidade_comprada }}</td>
                    <td>
                        {% if cliente.obter_status == 'Ativo' %}
                        <span class="badge text-bg-primary">{{ cliente.obter_status }}</span>
                        {% else %}
                        <span class="badge text-bg-secondary">{{ cliente.obter_status }}</span>
                        {% endif %}

                    </td>
                    <td class="d-flex gap-2 justify-content-center">
                        <div class="dropdown">
                            <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/dots-vertical -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="icon icon-1">
                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="{% url 'cliente_detail' cliente.id %}"
                                    class="dropdown-item text-center">Detalhes</a>
                                <form method="POST" id="formAlteracao">
                                    {% csrf_token %}
                                    <button type="button"
                                        class="dropdown-item text-center bntToggleStatus {% if cliente.obter_status == 'Ativo' %}text-danger{% else %}text-success{% endif %}"
                                        title="{% if cliente.obter_status == 'Ativo' %}Desativar{% else %}Ativar{% endif %}"
                                        data-cliente-id="{{ cliente.id }}"
                                        data-cliente-status="{{ cliente.obter_status }}"
                                        data-cliente-nome="{{ cliente.usuario.first_name }}" data-bs-toggle="modal"
                                        data-bs-target="#modalConfirmarAlteracao">
                                        {% if cliente.obter_status == 'Ativo' %}Desativar{% else %}Ativar{% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr class="align-middle text-center">
                    <td scope='row' colspan='6'>Não há clientes cadastrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal confirmação de ação -->
<div class="modal fade" id="modalConfirmarAlteracao" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Confirmação de Ação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirma a <span class="fw-bold" id="corpoModalAcao"></span> do cliente <span id="corpoModalCliente"
                        class="fw-bold"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger btnConfirmacao">Confirmar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'clientes/js/cliente-list.js' %}"></script>
{% endblock %}