{% extends 'base.html' %}
{% block title %}Nova Senha de Acesso Geral{% endblock %}
{% block content %}
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm">
            <!-- Header -->
            <div class="card-header card-header-light">
                <h3 class="card-title d-flex align-items-center gap-2">
                    <a href="{% url 'home' %}"
                        class="btn btn-animate-icon btn-animate-icon-move-start"><!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-1">
                            <path d="M15 6l-6 6l6 6"></path>
                        </svg>
                        Voltar
                    </a>
                    Nova Senha de Acesso Geral
                </h3>
            </div>
            <form action="." method="POST" class="card-body row">
                {% csrf_token %}
                <div class="col-12">
                    <p class="text-muted text-center text-body-secondary">Ao resetar a senha, todos os usuários que estiverem logados serão automaticamente deslogados e precisarão logar novamente com a nova senha gerada</p>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="fw-bold form-label">{{ form.senha.label }}</label>
                    {{ form.senha }}
                    {{ form.senha.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label class="fw-bold form-label">{{ form.confirmacao_password.label }}</label>
                    {{ form.confirmacao_password }}
                    {{ form.confirmacao_password.errors }}
                </div>
                <div class="mb-3 d-grid">
                    <button class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}