{% extends 'base.html' %}
{% block title %}Minha Conta{% endblock %}
{% block content %}
    <h1 class="text-center mb-4">Minha conta</h1>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <form method='POST' action="." class="row border rounded-3 p-5 shadow-sm">
                {% csrf_token %}
                <div class="mb-3 col-md-6">
                    <label for="{{ form_custom_user.first_name.id_for_label }}" class="form-label fw-bold">
                        {{ form_custom_user.first_name.label }}
                    </label>
                    {{ form_custom_user.first_name }}
                    {{ form_custom_user.first_name.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form_custom_user.last_name.id_for_label }}" class="form-label fw-bold">
                        {{ form_custom_user.last_name.label }}
                    </label>
                    {{ form_custom_user.last_name }}
                    {{ form_custom_user.last_name.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form_custom_user.email.id_for_label }}" class="form-label fw-bold">
                        {{ form_custom_user.email.label }}
                    </label>
                    {{ form_custom_user.email }}
                    {{ form_custom_user.email.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form_cliente.telefone.id_for_label }}" class="form-label fw-bold">
                        {{ form_cliente.telefone.label }}
                    </label>
                    {{ form_cliente.telefone }}
                    {{ form_cliente.telefone.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form_cliente.data_nascimento.id_for_label }}" class="form-label fw-bold">
                        {{ form_cliente.data_nascimento.label }}
                    </label>
                    {{ form_cliente.data_nascimento }}
                    {{ form_cliente.data_nascimento.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form_cliente.rg.id_for_label }}" class="form-label fw-bold">
                        {{ form_cliente.rg.label }}
                    </label>
                    {{ form_cliente.rg }}
                    {{ form_cliente.rg.errors }}
                </div>
                <div class="mb-3 col-md-4">
                    <label for="{{ form_cliente.cpf.id_for_label }}" class="form-label fw-bold">
                        {{ form_cliente.cpf.label }}
                    </label>
                    {{ form_cliente.cpf }}
                    {{ form_cliente.cpf.errors }}
                </div>
                <div class="mb-3 col-md-4">
                    <label for="{{ form_cliente.sexo.id_for_label }}" class="form-label fw-bold">
                        {{ form_cliente.sexo.label }}
                    </label>
                    {{ form_cliente.sexo }}
                    {{ form_cliente.sexo.errors }}
                </div>
                <div class="mb-3 col-md-4">
                    <label for="{{ form_custom_user.autoriza_notificacoes.id_for_label }}" class="form-label fw-bold">
                        {{ form_custom_user.autoriza_notificacoes.label }}
                    </label>
                    {{ form_custom_user.autoriza_notificacoes }}
                    {{ form_custom_user.autoriza_notificacoes.errors }}
                </div>
                <div class="mb-3 d-flex flex-column gap-3 flex-md-row justify-content-md-between">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancelar Alterações</a>
                    <input class="btn btn-primary" type="submit" value="Alterar dados">
                </div>
            </form>
        </div>
    </div>
{% endblock %}