.image-thumbnail {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

/* configurando imagem da tela de login */
.login-icon-main {
    font-size: 15rem;
    line-height: 1;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .login-icon-main {
        font-size: 6rem;
        margin-bottom: 2rem;
    }
}

.cadeado{
  font-size: 150px;
}

