<!doctype html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>IngressosMC</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %} {% endblock %}
</head>

<body>
  <!-- Header -->
  {% include 'partials/_navbar.html' %}

  <!-- Block content -->
  <div class="container py-5">
    {% block content %} {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"></script>
</body>

</html>