{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastrar Evento{% endblock %}
{% block content %}
    <div class="col-md-10 col-lg-8 col-xxl-8 mx-auto">
        <form class="card shadow-sm" method='POST' action="{% url 'cadastrar_ingresso' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Header -->
            <div class="card-header card-header-light">
                <h3 class="card-title d-flex align-items-center gap-2">
                    <a href="{% url 'home' %}"
                        class="btn btn-animate-icon btn-animate-icon-move-start"><!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-1">
                            <path d="M15 6l-6 6l6 6"></path>
                        </svg>
                        Voltar
                    </a>
                    Cadastrar Evento
                </h3>
            </div>
            <div class="card-body row">
                {{ form.non_field_errors }}
                <div class="mb-3 col-md-6">
                    <label for="{{ form.tipo.id_for_label }}" class="form-label fw-bold">
                        {{ form.tipo.label_tag }}
                    </label>
                    {{ form.tipo }}
                    {{ form.tipo.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form.status.id_for_label }}" class="form-label fw-bold">
                        {{ form.status.label_tag }}
                    </label>
                    {{ form.status }}
                    {{ form.status.errors }}
                </div>
                <div class="mb-3 col-md-6" id="div-time-casa">
                    <label for="{{ form.time_casa.id_for_label }}" class="form-label fw-bold">
                        {{ form.time_casa.label_tag }}
                    </label>
                    {{ form.time_casa }}
                    {{ form.time_casa.errors }}
                </div>
                <div class="mb-3 col-md-6" id="div-time-visitante">
                    <label for="{{ form.time_visitante.id_for_label }}" class="form-label fw-bold">
                        {{ form.time_visitante.label_tag }}
                    </label>
                    {{ form.time_visitante }}
                    {{ form.time_visitante.errors }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.titulo.id_for_label }}" class="form-label fw-bold">
                        {{ form.titulo.label_tag }}
                    </label>
                    {{ form.titulo }}
                    {{ form.titulo.errors }}
                </div>
                <div class="mb-3 col-12">
                    <label for="{{ form.local.id_for_label }}" class="form-label fw-bold">
                        {{ form.local.label_tag }}
                    </label>
                    {{ form.local }}
                    {{ form.local.errors }}
                </div>
                <div class="mb-3 col-12">
                    <label for="{{ form.descricao.id_for_label }}" class="form-label fw-bold">
                        {{ form.descricao.label_tag }}
                    </label>
                    {{ form.descricao }}
                    {{ form.descricao.errors }}
                </div>
                <div class="mb-3 col-12">
                    <label for="{{ form.data_horario.id_for_label }}" class="form-label fw-bold">
                        {{ form.data_horario.label_tag }}
                    </label>
                    {{ form.data_horario }}
                    {{ form.data_horario.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form.preco.id_for_label }}" class="form-label fw-bold">
                        {{ form.preco.label_tag }}
                    </label>
                    {{ form.preco }}
                    {{ form.preco.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form.preco_par.id_for_label }}" class="form-label fw-bold">
                        {{ form.preco_par.label_tag }}
                    </label>
                    {{ form.preco_par }}
                    {{ form.preco_par.errors }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="{{ form.estoque_disponivel.id_for_label }}" class="form-label fw-bold">
                        {{ form.estoque_disponivel.label_tag }}
                    </label>
                    {{ form.estoque_disponivel }}
                    {{ form.estoque_disponivel.errors }}
                </div>
                <div class="mb-3 col-6">
                    <label for="{{ form.thumbnail.id_for_label }}" class="form-label fw-bold">
                        {{ form.thumbnail.label_tag }}
                    </label>
                    {{ form.thumbnail }}
                    {{ form.thumbnail.errors }}
                </div>
                
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button id="bntCancelar" type="button" class="btn btn-outline-secondary">Cancelar</button>
                <input type="submit" value="Salvar Evento" class='btn btn-primary'>
            </div>
        </form>
    </div>
    <!-- Scripts -->
    <script src="{% static 'ingressos/js/cadastrar-ingresso.js' %}">
    </script>
{% endblock %}