{% extends 'base.html' %}
{% load static %}
{% block title %}Venda de Ingresso{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'ingressos/css/style.css' %}">
<link rel="stylesheet" href="{% static 'ingressos/css/comprar_ingresso.css' %}">

{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-9">
        <!-- Card -->
        <div class="card shadow-sm">
            <!-- Header -->
            <div class="card-header card-header-light">
                <h3 class="card-title d-flex align-items-center gap-2">
                    <a href="{% url 'home' %}"
                        class="btn btn-animate-icon btn-animate-icon-move-start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-1">
                            <path d="M15 6l-6 6l6 6"></path>
                        </svg>
                        Voltar
                    </a>
                    Compra de Ingresso
                </h3>
            </div>
            <div class="card-body">
                <form id="formularioComprarIngresso" action="{% url 'comprar-ingresso' ingresso.id %}" method="POST" class="row">
                    {% csrf_token %}
                    
                    <div class=" col-lg-8 mb-3 mb-md-0">
                        <!-- Condicional Versus idêntica à página inicial -->
                        {% if ingresso.tipo == "JOGO" and ingresso.time_casa.escudo and ingresso.time_visitante.escudo %}
                            <div class="vs-overlap-details rounded border">
                                <img src="{{ ingresso.time_casa.escudo.url }}" class="img-time-casa" alt="{{ ingresso.time_casa.nome }}">
                                <div class="badge-vs-details">VS</div>
                                <img src="{{ ingresso.time_visitante.escudo.url }}" class="img-time-visitante" alt="{{ ingresso.time_visitante.nome }}">
                            </div>
                        {% else %}
                            <!-- Fallback para show ou sem imagem -->
                            {% if ingresso.thumbnail %}
                                <img src="{{ ingresso.thumbnail.url }}" class="img-standard-details rounded" alt="{{ ingresso.titulo }}">
                            {% else %}
                                <img src="{% static 'img/sem_imagem.png' %}" class="img-standard-details rounded" alt="Sem imagem">
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class=" col-lg-4 d-flex flex-column justify-content-center">
                        <h2 class="h2 fw-bold mb-3 text-center">{{ ingresso.titulo }}</h2>
                        <p><span class="fw-bold"> Data:</span> {{ ingresso.data_horario|date:"d/m/Y H:i" }}</p>
                        <p><span class="fw-bold">Valor Unitário:</span> R$ {{ ingresso.preco }}</p>
                        <p><span class="fw-bold">Valor do Par:</span> R$ {{ ingresso.preco_par|default:"Não disponível"}}</p>
                        <p><span class="fw-bold">Ingressos disponíveis:</span> {{ ingresso.estoque_disponivel }}</p>
                        <label class="form-label fw-bold">{{ form.quantidade.label }}:</label>
                        {{ form.quantidade }}
                        {{ form.quantidade.errors }}
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <a href='{% url "home" %}'
                            class="btn btn-animate-icon btn-animate-icon-rotate btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-1">
                                <path d="M18 6l-12 12"></path>
                                <path d="M6 6l12 12"></path>
                            </svg>
                            Cancelar</a>

                        <button type="button" data-evento="{{ ingresso.titulo }}" id="btnConfirmarCompra"
                            class="btn btn-primary btn-animate-icon btn-animate-icon-tada" data-bs-toggle="modal"
                            data-bs-target="#modalConfirmacao">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-1">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                            Comprar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="modalConfirmacao" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação de Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirma a compra de <span class="fw-bold" id="spanQuantidade"></span> ingresso(s) para o evento<span class="fw-bold">
                   {{ ingresso.titulo }}</span>?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
                <button id="botaoConfirmar" type="button" class="btn btn-primary"
                    data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'ingressos/js/comprar-ingresso.js' %}"></script>
{% endblock %}
