{% extends 'base.html' %}
{% load clean_text %}
{% block title %}Detalhes da Venda{% endblock %}
{% block content %}
    
    <div class="col-md-8 col-lg-8 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header justify-content-between card-header-light">
                <div class="w-25">
                    <a href="{% url 'todos_ingressos_comprados' %}" class="btn btn-animate-icon btn-animate-icon-move-start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                            <path d="M15 6l-6 6l6 6"></path>
                        </svg>
                        Voltar
                    </a>
                </div>
                <h3 class="card-title">Detalhes da Venda</h3>
                <div class="invisible w-25"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <tbody class="align-middle">
                        <tr>
                            <th>Evento</th>
                            <td>{{ historico.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Data do Evento</th>
                            <td>{{ historico.data_horario_evento|date:"d/m/Y H:i" }}</td>
                        </tr>
                        <tr>
                            <th>Local</th>
                            <td>{{ historico.local }}</td>
                        </tr>
                        <tr>
                            <th>Quantidade</th>
                            <td>{{ historico.quantidade }}</td>
                        </tr>
                        <tr>
                            <th>Valor Total (R$)</th>
                            <td>{{ historico.valor_pago }}</td>
                        </tr>
                        <tr>
                            <th>Cliente</th>
                            <td>{{ historico.cliente.usuario.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Telefone de Contato</th>
                            <td><a rel="noopener noreferrer"
                                    target="_blank"
                                    href="https://web.whatsapp.com/send/?phone=55{{ historico.cliente.telefone|limpar_especiais }}&text=Olá,+{{ historico.cliente.usuario.first_name }},+podemos+falar+sobre+a+compra+do+evento+{{ historico.titulo }}?">
                                    {{ historico.cliente.telefone }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>{{ historico.cliente.usuario.email }}</td>
                        </tr>
                        <tr>
                            <th>Data da Compra</th>
                            <td>{{ historico.data_compra|date:"d/m/Y H:i" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            
{% endblock %}