{% extends 'base.html' %}
{% block title %}Venda Rápida{% endblock %}
{% block content %}
<div class="col-md-8 col-lg-8 mx-auto">
    <form method="POST" action="." class="card shadow-sm">
        {% csrf_token %}
        <!-- Header -->
        <div class="card-header card-header-light">
            <h3 class="card-title d-flex align-items-center gap-2">
                <a href="{% url 'home' %}"
                    class="btn btn-animate-icon btn-animate-icon-move-start"><!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-1">
                        <path d="M15 6l-6 6l6 6"></path>
                    </svg>
                    Voltar
                </a>
                Venda Rápida
            </h3>
        </div>
        <!-- Body -->
        <div
            class="card-body row"
            hx-get="{% url 'calcular_total' %}"
            hx-target="#cardValor"
            hx-trigger="change from:select[name='ingresso'], input from:input[name='quantidade']"
            hx-include="[name='ingresso'], [name='quantidade']">
            <div class="mb-3 col-md-6">
                <label for="{{ form.cliente.id_for_label }}" class="form-label fw-bold">{{ form.cliente.label }}</label>
                {{ form.cliente }}
                {{ form.cliente.errors }}
            </div>
            <div class="mb-3 col-md-6">
                <label for="{{ form.ingresso.id_for_label }}" class="form-label fw-bold">{{ form.ingresso.label }}</label>
                {{ form.ingresso }}
                {{ form.ingresso.errors }}
            </div>
            <div class="mb-3 col-md-6">
                <label for="{{ form.quantidade.id_for_label }}" class="form-label fw-bold">{{ form.quantidade.label }}</label>
                {{ form.quantidade }}
                {{ form.quantidade.errors }}
            </div>
            <div class="mb-3 col-md-6">
                <label for="{{ form.status.id_for_label }}" class="form-label fw-bold">{{ form.status.label }}</label>
                {{ form.status }}
                {{ form.status.errors }}
            </div>
        </div>
        <div id="cardValor" class="card col-md-6 mx-auto mb-3">
            {% include 'ingressos/partials/_card_valor.html' with total=0 %}            
        </div>
        <div class="card-footer">
            <div class="mb-3 d-flex flex-column flex-md-row justify-content-between">
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Cancelar</a>
                <button type="submit" class="btn btn-primary se">
                    <i class="bi bi-bag-check"></i> Confirmar Venda
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}